@media all and (min-width: 760px){

#wrap{
    width: 100%;
    height: 5400px;
    background-color: #1B236A;
   
}


/* header01 */

#hea01{
    width: 100%;
    height: 50px;
    background-color: #1B236A;
    position: relative;
    
}

#in_header01{
    width: 1720px;
    height: 50px;
    margin: 0 auto;
   
}

#mall{
    width: 500px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 100px;
    
}

.mall{
    width: 220px;
    height: 100%;
    border-radius: 30px 30px;
    text-align: center;
    font: 900 18px/20px'';
    float: left;
    margin-right: 20px;
    transition: 0.5s;
}

.mall:nth-child(2){
    margin-right: 0;
}

#menu01{
    width: 300px;
    font-size: 13px;
    position: absolute;
    top: 18px;
    left: 1460px;
}

#mo_btn{
    display: none;
}


/* header02 */

#hea02{
    width: 100%;
    height: 215px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    
}

#logo img{
    width: 70%;
}

#menu02{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    background-color: #1B236A;
}

#menu02 li{
    float: left;
    font-size: 18px;
   

}


#menu02 li:nth-child(4){
    margin-right: 0;
}






/* section01 */

#sec01{
    width: 100%;
    height: 36.718vw;
    /* 705/1920*100 */
    position: relative;
    overflow: hidden;
}

.slaid{
    position: absolute;
    top: 50%;
    margin-top: -39.5px;
}

#left{
    left: 100px;
}

#right{
    right: 100px;
}

#img_wrap{
    width: 300vw;
    /* 5760/1920*100 */
    height: 36.718vw;
    

}

.sec01_img{
    width: 100vw;
    height: 36.718vw;
    float: left;
}

#img_wrap img{
    width: 100vw;
    height: 36.718vw;
    
}

#img_wrap02{
    display: none;
}


/* section02 */

#section02{
    width: 100%;
    height: 470px;
    background-color: #fff;
    position: relative;
 
   
}

#sec02{
    width: 1300px;
    height: 350px;
    position: absolute;
    top: 235px;
    left: 50%;
    margin-top: -170px;
    margin-left: -650px;
   
}

#sec02_wrap{
    height: 350px;
   
}



.img h4{
  margin-top: 10px;
  color: #000;
  text-align: center;
 
}

.img{
    float: left;
    margin-right: 30px;
    margin-top: 50px;

    
}

.img:nth-child(4){
    margin-right: 0;
}


.img img{
    
    transition: 0.5s;
    
}

/* event */

.img img:hover{

    transform: scale(1.1);


}


/* swiper */

.slider{
    display: none;
}




html,
      body {
        position: relative;
        height: 100%;
      }

      body {
     
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

     
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
      }

/* section03 */

#sec03{
    width: 1250px;
    height: 850px;
    position: relative;
    top: 50px;
    left: 17.447vw;
    /* 335/1920*100 */
    transition: 1s;
   
}

#sec03 h1{
    font-size: 37px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    position: relative;
    z-index: 99;
}

#sec03_main{
    position: absolute;
    top: -130px;
}

#back{
    position: absolute;
    top: 250px;
}

#img_wrap04{
    width: 845px;
    height: 930px;
    position: absolute;
    top: 245px;
    left: 250px;
    
}

.con{
    width: 445px;
    margin-bottom: 30px;
    text-align: center;
}

.con img{
    width: 90%;
}

.con:nth-child(3){
    margin-bottom: 0;
}

.sec03_text{
    width: 385px;
    height: 60px;
    text-align: left;
    position: absolute;
    left: 105px;
    margin-top: 15px;
    color: #fff;
}

#con02{
    position: absolute;
    top: 190px;
    right: 75px;
}


/* section04 */

#sec04{
    width: 1250px;
    height: 1800px;
    position: relative;
    top: 250px;
    left: 17.447vw;
    transition: 1s;
}

#sec04 h1{
    font-size: 37px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

#container{
    width: 100%;
   
}

.con02{
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    position: relative;
}

.con02:nth-child(3){
    margin-bottom: 0;
}

.con02>img{
    width: 33%;
}


.text{
   position: absolute;
   top: 0;
   left: 500px;
   color: #fff;
}

.text h4{
    font-size: 27px;
    margin-bottom: 25px;
}

.text p{
    font-size: 22px;
    margin-bottom: 15px;
}

.name{
    font-size: 22px;
}

.fur02{
    width: 700px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px 30px;
    position: absolute;
    top: 215px;
    right: 50px;
}

.fur02>img{
    
    height: 70%;
    position: absolute;
    margin: 33px 50px;
}

.fur_text{
    width: 530px;
    height: 85px;
    position: absolute;
    top: 80px;
    left: 220px;
    font-size: 18px;
}

.heart{
    position: absolute;
    top: 85px;
    right: 20px;
    z-index: 99;
   
}

.heart img{
    width: 70%;
}

#fur02_1{
    position: absolute;
    left: 50px;
}

#con02_img{
    position: absolute;
    right: 0;
}

#con02_text{
    text-align: right;
    position: absolute;
    left: 305px;
}


/* event */

.heart_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 84px;
    right: 41px;
    z-index: 999;
    opacity: 0;
 
}

.heart02{
    position: absolute;
    top: 85px;
    right: 20px;
   
}

.heart02 img{
    width: 70%;
}

.heart_btn:checked~.heart{
    display: none;
}




/* section05 */

#sec05{
    width: 100%;
    position: relative;
    top: 450px;
    margin-bottom: 100px;
    transition: 1s;
}

.link{
    width: 600px;
    height: 80px;
    position: absolute;
    top: -100px;
    left: 660px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.link img{
    float: left;
}

#insta_page{
    width: 1250px;
    height: 319px;
    color: #fff;
    position: relative;
    top: 20px;
    left: 250px;
   
}

#insta_text{
    width: 536px;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 100px;
}

#insta_text h2{
    font-size: 51px;
    margin-bottom: 20px;
}

#insta{
    font-size: 37px;
}

#insta_img{
    width: 600px;
    height: 600px;
    position: absolute;
    right: 0;
}

#insta_img a img{
    width: 300px;
    height: 300px;
    float: left;
}




/* footer01 */

footer{
    width: 100%;
    height: 500px;
    background-color: #fff;
    position: relative;
    top: 800px;
    

}

#foo01{
    position: absolute;
    top: 150px;
    left: 250px;

}

#foo01 h3{
    font-size: 37px;
}

#tel{
    margin-top: 100px;
}

#tel02{
    width: 660px;
    height: 65px;
}

#tel02 li{
    float: left;
    margin-right: 120px;
}

#tel02 li:nth-child(2),#tel02 li:nth-child(4){
    margin-right: 0;
}


/* footer02 */

#foo02{
    position: absolute;
    top: 222px;
    left: 950px;
}

#foo_text{
    width: 650px;
    height: 45px;

}

#foo_text li{
    float: left;
    margin-right: 40px;
}

#foo_text li:nth-child(5){
    margin-right: 0;
}


#foo02_text{
    width: 650px;
    height: 75px;
}

#foo02_text li{
    float: left;
}




}
